// https://v2.vuepress.vuejs.org/zh/reference/default-theme/styles.html#palette-%E6%96%87%E4%BB%B6
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Regular.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Code';
  src: url("/fonts/FiraCode-Regular.woff") format('woff');
  font-weight: 500;
  font-style: normal;
}
:root {
  scroll-behavior: smooth;
  --font-family: "JetBrains Mono", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --c-brand: #3B82F6;
  --c-brand-light: #60A5FA;
}
html.dark {
  --c-brand: #F59E0B;
  --c-brand-light: #FBBF24;
}
// iconfont
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

// 导航下拉框样式
.dropdown-wrapper .nav-dropdown {
  box-shadow: 0px 4px 8px #1e1e1e;
}
// 侧边栏样式
.sidebar {
  a.sidebar-item {
    transition: transform .25s;
    &.active {
    }
  }
}
// 文章内容样式
.page {
  font-size: 15px;
  summary {
    @apply cursor-pointer text-blue-500;
  }
  code {
    font-family: 'Fira Code';
    font-variant-ligatures: normal;
  }
  h1 {
    @apply
      leading-loose
      font-bold
      text-4xl
      text-center
      mb-2;
  }
  h2 {
    @apply
      leading-loose
      border-b
      border-gray-300
      text-2xl
      my-4
      text-center
      tracking-wide
      font-bold;
  }
  h3 {
    @apply
      text-2xl
      leading-normal
      my-3
      font-bold;
  }
  a:not([aria-hidden]) {
    @apply
      mx-2
      transition-colors
      duration-150;
  }
  p, ul, ol {
    @apply leading-7;
  }
  ul:not(.code-group__ul) {
    @apply
      pl-4;
    li {
      @apply list-disc ml-4 mt-1.5;
      ul {
        li {
          list-style: circle;
        }
      }
    }
  }
  // code-group
  li.code-group__li {
    button.code-group__nav-tab-active {
      @apply font-bold relative z-10;
    }
  }
  .code-group {
    &__nav {
      @apply pl-[50px] pt-0;
      .code-group__li + .code-group__li {
        @apply ml-2;
      }
    }
  }
  ol {
    @apply pl-4;
    li {
      @apply list-decimal pl-2 mt-1.5;
      &::marker {
        @apply font-bold;
      }
    }
  }
  table {
    @apply w-full;
    
    tbody {
      tr {
        td {
          @apply px-4 text-sm leading-loose;
        }
      }
    }
  }
  code:not(pre code) {
    @apply text-blue-500 bg-blue-300 bg-opacity-10 dark:text-yellow-500 dark:bg-yellow-800 dark:bg-opacity-10  px-2 ;
  }
  hr {
    @apply my-3;
  }
}
